* {
  padding: 0;
  margin: 0;
}
:root {
  --white: white;
  --yellow: yellow;
  --black: black;
}
body{
    background-color: var(--white);
}
.header{
    font-size: 25px;
    text-align: center;
    background-image: linear-gradient(to bottom right, var(--yellow), var(--black) );
    height: 150px;
    padding-top: 20px;
    margin-bottom: 5px;
}
.local_Card {
  margin: 7px;
  display: block;
  gap: 10px;
}

.local_card_img {
  width: 210px;
  height: 230px;
}
.country {
  display: block;
  text-align: center;
  font-size: 25px;
}

.title {
  font-size: 20px;
}
.description {
  font-size: 17px;
  background-color: lightgray;
}
.read_more_btn {
  border: none;
  border-bottom: 4px solid lightgray;
  background-color: var(--white);
}
.date {
  font-size: 13px;
}
.on {
  font-size: 15px;
}
.type {
  font-size: 20px;
}
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  overflow-x: auto;
}
.international_card {
  margin: 20px 10px;
}
.international_card_img {
  width: 350px;
  height: 230px;
}
.footer{
    padding-top: 30px;
    background-image: linear-gradient(to bottom right, var(--black), var(--yellow) );
    padding-bottom: 30px;
}
.footer_section_one {
    margin: 10px;
}
.group_img{
    width: 350px;
}
.footer_section_two {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-icon{
    text-decoration: none;
    color: var(--white);
}
